<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>

<dashboard-main-container title="Lista de Workouts">

  <section class="flex row gap-5" header>
    <!--  header-search-bar -->
    <span class="w-full">
      <dashboard-searchbar
        [storeActions]="workoutStoreActions"
      ></dashboard-searchbar>
    </span>

    <!-- header-btn-open-form -->
    <span class="p-fluid w-52">
      <dashboard-open-form-btn
        [dialogConfig]="dialogConfig"
      ></dashboard-open-form-btn>
    </span>
  </section>

  <workout-list body></workout-list>

</dashboard-main-container>
