<article class="border border-gray-150 rounded-2xl shadow-lg">
  <div class="flex flex-col pt-4 p-5 gap-4">

    <header class="flex flex-row justify-between items-end">
      <!-- NAME & DURATION -->
      <div class="flex flex-row items-end">
        <h3 class="text-3xl font-medium">{{ workout.name }}&nbsp;</h3>
        <span class="font-thin leading-7">- {{ workout.duration }} min</span>
      </div>

      <!-- EDIT & DELETE BTN -->
      <div class="space-x-2">
        <!-- btb-edit -->
        <workout-open-form-btn
          [workout]="workout"
          data-testId="open-workout-form-btn"
        />
        <!-- btb-delete -->
        <p-button
          icon="pi pi-trash"
          styleClass="p-button-sm p-button-danger"
          (click)="onConfirmDelete($event)"
          data-testId="delete-workout-btn"
        ></p-button>
      </div>
    </header>

    <hr>

    <workout-card-carousel
      [editableCards]="true"
      [exercises]="exercises"
      [exerciseSets]="exerciseSets"
      [exerciseReps]="exerciseReps"
    ></workout-card-carousel>

  </div>
</article>
