<article
  class="p-2 border bg-white border-gray-100 shadow-md rounded-lg relative aspect-[2/3]"
  (click)="clickable ? onEmitExercise() : null"
>
  <!-- Delete icon -->
  <exercise-open-form-btn
    [editable]="editable"
    [exercise]="exercise"
    [slotForm]="true"
  ></exercise-open-form-btn>

  <!-- Card-Image -->
  <img
    class="rounded-lg w-full aspect-square object-cover"
    [src]="exercise | exerciseImage"
    [alt]="exercise.name"
  >

  <!-- Card-Content -->
  <div class="py-3">
    <p data-testId="exercise-category" class="text-gray-700 h-6 max-h-6">{{ exercise.category | truncate: 10 }}</p>
    <h2 *ngIf="sets && reps" class="text-xl text-[--green-color]">{{ sets }} series x {{ reps }} reps.</h2>
    <h3 data-testId="exercise-name" class="text-xl font-bold h-14 overflow-hidden">{{ exercise.name | truncate:28 }}</h3>
  </div>
</article>
