<section class="h-full">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="exerciseForm"
    class="pt-1 h-full flex flex-row gap-4">
    <!-- INPUT-IMAGE -->
    <div class="w-1/2 h-full">
      <img
        class="mx-auto w-auto h-full max-h-full object-cover"
        [src]="currentExercise | exerciseImage"
        alt="Exercise image">
    </div>

    <!-- INPUT-FORMS -->
    <div class="w-1/2 flex flex-col justify-between">

      <div class="flex flex-col gap-3">
        <!-- INPUT -->
        <input
          pInputText
          type="text"
          class="p-fluid w-full"
          [class]="isValidField('name') ? 'ng-dirty' : ''"
          placeholder="Nombre del ejercicio"
          formControlName="name"
        />

        <!-- Error messages -->
        <span *ngIf="isValidField('name')" class="-mt-3 text-sm text-red-400">
          {{ getErrorMessage('name') }}
        </span>

        <!-- CATEGORY-INPUT -->
        <span class="p-fluid w-full">
          <p-dropdown
            appendTo="body"
            [options]="categories"
            formControlName="category"
          ></p-dropdown>
        </span>
        <!-- ALTERNATIVE-IMG-INPUT -->
        <input
          pInputText
          type="text"
          class="p-fluid w-full"
          placeholder="URL de la imagen alternativa"
          formControlName="alternativeImage"
        />
      </div>

      <!-- Buttons -->
      <div class="flex flex-row justify-between gap-4">
        <span *ngIf="exerciseId; else closeBtn" class="p-fluid w-full">
          <p-button (onClick)="onDelete( exerciseId )" styleClass="p-button-danger p-button-sm" label="Eliminar"></p-button>
        </span>

        <ng-template #closeBtn>
          <span class="p-fluid w-full">
            <p-button (onClick)="closeDialog()" styleClass="p-button-secondary p-button-sm" label="Cerrar"></p-button>
          </span>
        </ng-template>

        <span class="p-fluid w-full">
          <p-button
            type="submit"
            styleClass="p-button-sm"
            [label]="exerciseId ? 'Actualizar' : 'Crear Ejercicio'"
          ></p-button>
        </span>
      </div>

    </div>

  </form>
</section>
