<header class="mb-5">
  <!-- header-title -->
  <h1 class="text-3xl font-bold text-[--primary-color]">
    {{ title | uppercase }}
  </h1>

  <div class="my-3">
    <div class="flex row gap-5">

      <!--  header-search-bar -->
      <div class="w-full">
        <exercise-searchbar></exercise-searchbar>
      </div>

      <!-- header-btn-open-form -->
      <span class="p-fluid w-52">
        <p-button
          (click)="openForm()"
          label="Nuevo Ejercicio"
          styleClass="p-button-secondary"
        ></p-button>
      </span>

    </div>
  </div>

  <!-- header-select-category-chips -->
  <div class="w-full">
    <exercise-filter-tabs></exercise-filter-tabs>
  </div>

</header>
