<section class="space-y-3">
  <!-- FIRST-ROW -->
  <div class="flex row gap-5">
    <!--  header-search-bar -->
    <span class="w-full">
      <exercise-searchbar></exercise-searchbar>
    </span>

    <!-- header-btn-open-form -->
    <span class="p-fluid w-52">
      <p-button
        (click)="onOpenExerciseForm()"
        label="Nuevo Ejercicio"
        styleClass="p-button-secondary"
      ></p-button>
    </span>

  </div>

  <!-- SECOND-ROW: filter-tabs -->
  <div class="w-full">
    <exercise-filter-tabs></exercise-filter-tabs>
  </div>
</section>
