<section>
  <!-- <div class="border border-gray-200 rounded-xl p-8 mb-10">
    <workout-form></workout-form>
  </div> -->

  <!-- If there're workouts -->
  <div
    class="flex flex-col gap-7"
    *ngIf="workouts.length !== 0; else noWorkouts"
  >
    <workout-card
      *ngFor="let workout of workouts"
      [workout]="workout"
    ></workout-card>
  </div>

  <!-- If there aren't workouts -->
  <ng-template #noWorkouts>
    <p class="text-xl text-teal-500">Aún no hay ningún workout añadido a la lista.</p>
    <p class="text-teal-600">Añade tus workouts favoritos para empezar a entrenar.</p>
  </ng-template>
</section>
