<section class="flex flex-col gap-5">
  <div class="flex flex-row gap-5">
    <!-- Workout-category -->
    <label class="p-fluid w-1/3">
      <span class="font-sans cursor-pointer">Categoría</span>
      <p-dropdown [options]="categories" (onChange)="filterHelper.onFilterByCategory( $event )"></p-dropdown>
    </label>

    <!-- Workout-level -->
    <label class="p-fluid w-full">
      <span class="font-sans cursor-pointer">Filtrar ejercicio por nombre</span>
      <input
        type="text"
        pInputText
        placeholder="Nombre del ejercicio"
        [formControl]="filterTextControl"
        (keydown.enter)="$event.preventDefault()"
      />
    </label>
  </div>

  <!-- EXERCISE-CAROUSEL-SELECTOR  -->
  <ng-container *ngIf="minimized; else maximized">
    <exercise-carousel
      [responsiveOptions]="minResponsiveOptions"
      [exercises]="filteredExercises"
      [canEmitExercise]="true"
      (emitExercise)="onEmitSelectExercise($event)"
    ></exercise-carousel>
  </ng-container>

  <!-- EXERCISE-CAROUSEL-MAXIMIZED -->
  <ng-template #maximized>
    <exercise-carousel
      [responsiveOptions]="maxResponsiveOptions"
      [exercises]="filteredExercises"
      [canEmitExercise]="true"
      (emitExercise)="onEmitSelectExercise($event)"
    ></exercise-carousel>
  </ng-template>

</section>

<style>
  exercise-carousel {
    exercise-card > article::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      transition: background 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      color: transparent;
      backdrop-filter: blur(0px);
      border-radius: 8px;
    }

    exercise-card > article:hover::after  {
      content: "➕";
      color: gray;
      background: rgba(136, 194, 150, 0.35);
      cursor: pointer;
      backdrop-filter: blur(2px);
    }
  }
</style>
