<form class="flex flex-col gap-5" (submit)="onSubmit()" [formGroup]="form">

  <!-- EXERCISE-INPUT-SELECTORS -->
  <section class="flex flex-col gap-2">
    <div class="flex flex-row gap-5">
      <!-- Workout-name -->
      <label class="p-fluid w-full">
        <span class="font-sans cursor-pointer">Nombre de la rutina</span>
        <input type="text" pInputText />
      </label>

      <!-- Workout-duration -->
      <label class="p-fluid w-1/4">
        <span class="font-sans cursor-pointer">Duración</span>
        <input type="text" pInputText />
      </label>
    </div>

    <div class="flex flex-row gap-5">
      <!-- Workout-category -->
      <label class="p-fluid w-1/3">
        <span class="font-sans cursor-pointer">Categoría</span>
        <p-dropdown [options]="['a', 'b', 'c']"></p-dropdown>
      </label>

      <!-- Workout-level -->
      <label class="p-fluid w-full">
        <span class="font-sans cursor-pointer">Nombre</span>
        <input type="text" pInputText />
      </label>
    </div>
  </section>

  <!-- EXERCISE-CAROUSEL-SELECTOR  -->
  <section>
    <workout-card-carousel [exercises]="filteredWorkouts.exercises"></workout-card-carousel>
  </section>

  <!-- FORM-EXERCISE-INPUT -->
  <section>
    <article class="flex flex-row items-center border-b border-gray-300 p-8 gap-4">
      <img width="80" class="shadow-md rounded-md" [src]="filteredWorkouts.exercises[0].image" alt="">
      <div class="flex-grow">
        <p class="text-gray-700">Core</p>
        <h5 class="text-2xl font-medium">{{'Exercise 1' | truncate:20 }}</h5>
      </div>
      <label class="p-fluid w-1/12">
        <span class="font-sans cursor-pointer">Series</span>
        <p-inputNumber></p-inputNumber>
      </label>
      <label class="p-fluid w-1/12">
        <span class="font-sans cursor-pointer">Reps</span>
        <p-inputNumber></p-inputNumber>
      </label>
      <label class="p-fluid w-1/12">
        <span class="font-sans cursor-pointer">Desc</span>
        <p-inputNumber></p-inputNumber>
      </label>
    </article>
  </section>

  <!-- FORM-EXERCISE-BUTTONS -->
  <section class="flex flex-row justify-end">
    <div class="flex flex-row w-1/2 gap-5">
      <span class="p-fluid w-full">
        <p-button label="Cerrar" styleClass="p-button-secondary"></p-button>
      </span>
      <span class="p-fluid w-full">
        <p-button type="submit" label="Crear Rutina"></p-button>
      </span>
    </div>
  </section>

</form>
