<!-- IF-NO EXERCISES: LOADING -->
<ng-template #loading>
  <p>Loading...</p>
</ng-template>

<!-- IF-EXERCISES LOADED -->
<ng-container *ngIf="exercises; else loading">
  <div class="rounded-3xl bg-slate-100 shadow-inner">

    <!-- IF: show-list -->
    <ng-container *ngIf="exercises.length <= 6; else showCarousel">
      <div class="py-8 px-12 pb-12">
        <div class="flex flex-row">

          <ng-container *ngIf="exercises.length !== 0; else noExercises">
            <exercise-card
              *ngFor="let exercise of exercises; let i = index"
              class="exercise-card exercise-card__no-carousel w-1/6"
              [exercise]="exercise"
              [sets]="exerciseSets ? exerciseSets[i] : undefined"
              [reps]="exerciseReps ? exerciseReps[i] : undefined"
              [editable]="editableCards"
              (click)="onEmitExercise(this.exercise)"
            ></exercise-card>
          </ng-container>

          <ng-template #noExercises>
            <div class="w-full relative">
              <div class="w-1/6 aspect-[2/3] -mb-[26px] relative"></div>
              <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                No hay ejercicios disponibles
              </span>
            </div>
          </ng-template>

        </div>
      </div>
    </ng-container>

    <!-- ELSE: show-carousel -->
    <ng-template #showCarousel>

        <div class="pt-8">
          <p-carousel [value]="exercises" [numScroll]="1" [responsiveOptions]="responsiveOptions">
            <ng-template let-exercise pTemplate="item">

                <exercise-card
                  class="exercise-card"
                  [exercise]="exercise"
                  [sets]="exerciseSets ? exerciseSets[exercises.indexOf(exercise)] : undefined"
                  [reps]="exerciseReps ? exerciseReps[exercises.indexOf(exercise)] : undefined"
                  [editable]="editableCards"
                  (click)="onEmitExercise(this.exercise)"
                ></exercise-card>

            </ng-template>
          </p-carousel>
        </div>

    </ng-template><!-- END-ELSE: show-carousel -->

  </div>
</ng-container>

<style>
.exercise-card {
  article {
    margin-block: 2px;
    margin-inline: 10px;
    padding-inline: 15px !important;
    padding-top: 20px;
  }

  h2, h3 {
    @media (max-width: 1680px) {
      font-size: 16px;
    }

    @media (max-width: 1440px) {
      font-size: 14px;
    }
  }

}

@media( min-width: 1921px ) {
  .exercise-card.exercise-card__no-carousel {
    width: 14.28%;
  }
}
</style>
