<ul class="flex flex-row items-center gap-2">
  <li
    data-testId="filter-tab"
    *ngFor="let category of categories"
    (click)="onFilterByCategory(category)"
    class="cursor-pointer"
    [class]="category === currentCategory ? 'active-filter' : ''"
  >
    <p-chip [label]="category"></p-chip>
  </li>
</ul>

<style>
  p-chip {
    &>div {
      border: solid 3px white;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out;
    }
  }

  .active-filter {
    p-chip>div {
      border: solid 3px var(--green-color);
      background-color: lightgray;
      box-sizing: border-box;
    }
  }
</style>
