<div class="m-8">
  <section class="p-8 bg-white rounded-xl shadow-lg divide-y divide-teal-400">

    <p-toast></p-toast>

    <!-- PAGE-HEADER -->
    <header class="mb-5">
      <h1 class="text-3xl font-bold text-[--primary-color]">
        {{ title | uppercase }}
      </h1>

      <section class="my-3">
        <div class="flex row gap-5">
          <span class="p-fluid w-full">
            <p-autoComplete
              [(ngModel)]="selectedExercise"
              [suggestions]="filteredExercises"
              (completeMethod)="filterExercise($event)"
              field="name"
            ></p-autoComplete>
          </span>
          <span class="p-fluid w-52">
            <p-button
              (click)="toggleFormVisibility( true )"
              label="Nuevo Ejercicio"
              styleClass="p-button-secondary"
            ></p-button>
          </span>
        </div>
      </section>

      <ul class="flex flex-row gap-2">
        <a *ngFor="let category of categories" href="/exercises">
          <p-chip [label]="category"></p-chip>
        </a>
      </ul>
    </header>

    <!-- EXERCISES LIST -->
    <ul class="pt-5 card-list">
      <li *ngFor="let exercise of exercises" class="flex justify-center">
        <exercise-card [exercise]="exercise"></exercise-card>
      </li>
    </ul>
  </section>

  <exercise-form [visible]="formVisible" (onChangeVisible)="toggleFormVisibility( $event )"></exercise-form>

</div>

<style>
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.5rem;
  }
</style>
